body {
	background-color: #e9ecef;
}

.jumbotron-fluid {
	height: 100vh;
	text-align: center;
	list-style-position: inside;
}

.col {
	padding: 0;
}

.title,
.card-title {
	color: purple;
}

.card-subtitle {
	color: darkgoldenrod;
}

.price-container {
	background-color: rgb(108, 108, 127);
	color: white;
	width: fit-content;
	padding: 2px 4px;
	font-size: 13px;
	border-radius: 5px;
}
